<!doctype html>
<html lang="en" ng-app="App">
	<head>
		<title>Vertx Deployment Manager</title>
	</head>
	<body ng-controller="AppController">
		<h1>Web Admin</h1>

		<div>
			<h2>Active Deployments</h2>
			<table ng-controller="DeploymentsController">
				<thead>
					<tr>
						<th>Module Name</th>
						<th>Deployed</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="deployment in deploymentMap | orderBy:name">
						<td>{{deployment.module_name}}</td>
						<td>{{deployment.deployments.length}}</td>
						<td>
							<button type="button" ng-click="deploy(deployment.module_name,1)">+1</button>
							<button type="button" ng-click="deploy(deployment.module_name,-1)" ng-show="deployment.deployments.length > 0">-1</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<h2>Event Log</h2>
			<table ng-controller="EventsController">
				<thead>
					<tr>
						<th>Event</th>
						<th>Date/Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in events">
						<td>{{event.text}}</td>
						<td>{{event.datetime}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.2/sockjs-min.js"></script>

		<script type="text/javascript" src="scripts/vertxbus.js"></script>

		<script type="text/javascript" src="scripts/script.js"></script>
		<script type="text/javascript" src="scripts/controllers.js"></script>
		<script type="text/javascript" src="scripts/model.js"></script>
	</body>
</html>